@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import 'react-phone-input-2/lib/style.css';

body {
    font-family: "Open Sans", sans-serif;
}

.input_field_change .MuiOutlinedInput-notchedOutline{
    box-shadow: none !important;
    border: 0px !important;
}
